* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.scoreboard {
  background-color: #2d2d2d;
  color: #dadee0;
  min-height: 100vh;
  padding: 1em;
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-weight: lighter;
}

.score__player1 {
  font-size: 4em;
  width: 33%;
  text-align: right;
}

.score__player2 {
  font-size: 4em;
  width: 33%;
}

.score__separator {
  font-size: 4em;
} 

.score-input {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.score-input__label {
  font-size: 1.5em;
}

.score-input__value {
  padding: 0.5em;
  font-size: 2em;
  border: none;
  background-image: none;
  background-color: #80436b;
  box-shadow: none;
  color: #dadee0;
  margin-top: 0.2em;
}

.game-menu {
  display: flex;
  flex-direction: row-reverse;
}

.button-groups {
}

.number-buttons-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: space-between;
}

.control-buttons-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.button {
  color: #dadee0;
  font-size: 1.5em;
  background-color: #80436b;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.button--reset {
  padding: 0.5em;
  font-size: 1em;
}

.button--number {
  width: 2.3em;
  height: 2.3em;
  margin: 0.1em;
}

.button--remove {
  height: 2.3em;
  width: 100%;
}

.button--enter {
  height: 2.3em;
  width: 100%;
  margin-left: 0.1em;
}
