.scoreboard {
  padding: 1em;
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-weight: lighter;
}

.score__player1 {
  font-size: 4em;
  width: 33%;
  text-align: right;
}

.score__player2 {
  font-size: 4em;
  width: 33%;
}

.score__separator {
  font-size: 4em;
}

.score-input {
  display: flex;
  margin-top: 2em;
}

.score-input__value {
  width: 100%;
  padding-left: 0.5em;
  font-size: 1em;
  border: none;
  background-image: none;
  background-color: #80436b;
  box-shadow: none;
  color: #dadee0;
  font-weight: bold;
}

.game-menu {
  display: flex;
  flex-direction: row-reverse;
}

.button-group {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}

.button {
  color: #dadee0;
  font-size: 1.5em;
  background-color: #80436b;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.button--reset {
  font-size: 1.5em;
  font-weight: bold;
  width: 2.3em;
  height: 2.3em;
}

.button--number {
  width: 2.3em;
  height: 2.3em;
}

.button--remove {
  height: 2.3em;
  width: 20%;
  font-size: 2em;
  text-align: right;
}

.button--enter {
  height: 2.3em;
  width: 100%;
}

.scores-table {
  margin-top: 2em;
  width: 100%;
}
