.scoreboard {
  padding: 1em;
  color: var(--text-color);
}

.gameMenu {
  display: flex;
  flex-direction: row-reverse;
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-weight: lighter;
}

.player1Score {
  font-size: 4em;
  width: 33%;
  text-align: right;
}

.player2Score {
  font-size: 4em;
  width: 33%;
}

.scoreSeparator {
  font-size: 4em;
}

.scoreInput {
  display: flex;
  margin-top: 2em;
}

.scoreInputValue {
  width: 100%;
  padding-left: 0.5em;
  font-size: 1em;
  border: none;
  background-image: none;
  background-color: var(--block-color);
  box-shadow: none;
  color: var(--text-color);
  font-weight: bold;
}

.scoreInputValue::placeholder {
  color: var(--text-color);
}

.button {
  color: var(--text-color);
  font-size: 1.5em;
  background-color: var(--block-color);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.resetButton {
  composes: button;
  font-size: 1.5em;
  font-weight: bold;
  width: 2.3em;
  height: 2.3em;
}

.removeButton {
  composes: button;
  height: 2.3em;
  width: 20%;
  font-size: 2em;
  text-align: right;
}

.numberButton {
  composes: button;
  width: 2.3em;
  height: 2.3em;
}

.enterButton {
  composes: button;
  height: 2.3em;
  width: 100%;
}

.buttonGroup {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}

.scoresTable {
  margin-top: 2em;
  width: 100%;
}

.link {
  color: var(--text-color);
}

.footer {
  margin-top: 4em;
  display: flex;
  flex-direction: row-reverse;
}
